@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }

body { 
  @apply bg-gray-200 text-gray-900 dark:bg-gray-800 dark:text-gray-100;
}

/* Card base da Fakedex */
.fakecard { 
  @apply aspect-square p-4 rounded-2xl shadow-sm bg-white dark:bg-gray-900 border dark:border-gray-700;
}
.fakecard {
  @apply transition-transform duration-200 ease-out;
}

.fakecard:hover {
  transform: scale(1.04) translateY(-4px);
  @apply shadow-lg;
}
.animated-gradient {
  background-size: 300% 300%;
  animation: gradientShift 14s ease-in-out infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



/* ========================= */
/*      ANIMAÇÃO DA LOGO     */
/* ========================= */
@keyframes logoPulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}

.animate-logoPulse {
  animation: logoPulse 2s infinite ease-in-out;
}
